<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h2>Note The Follow up Date</h2>
    <table>
        <tr>
            <th>Student Name</th>
            <th>Date Of Enquiry</th>
            <th>Course_Interested</th>
        </tr>
    </table>

    <h2>Student Table</h2>
    <p>Table showing the students details who have enquired for admission:</p>

    <table>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Course_Interested</th>
            <th>Inquiry_Date</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Smith</td>
            <td>1234567890</td>
            <td>Tally</td>
            <td>12-10-2025</td>
            <td>admission taken</td>
        </tr>
        <tr>
            <td>2</td>
            <td>koel</td>
            <td>1234567890</td>
            <td>Tally</td>
            <td>12-10-2025</td>
            <td>admission taken</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jon</td>
            <td>1234567890</td>
            <td>Tally</td>
            <td>12-10-2025</td>
            <td>Not Taken admission</td>
        </tr>
    </table>

</body>

</html>